@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin&effect=smoothing);


body { 
  background: #dddddd;
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 13px;
  overflow-y: scroll;
}

#main {
  background: white;
  max-width: 1200px;
  margin: 2em auto;
  -moz-box-shadow: inset 0px 0px 2px 2px #999999;
  -webkit-box-shadow: inset 0px 0px 2px 2px #999999;
  box-shadow: inset 0px 0px 2px 2px #999999;
}

#main-content {
  min-height: 1000px;	    
  padding: 10px 30px;
}

#banner h1 {
  font-size: 250%;
  padding-top: 40px;
  margin-left: 50px;
}

#banner h2 {
  color: gray;
  font-size: 125%;
  padding-bottom: 30px;
  margin-left: 50px;
}

#banner h1 a:link, #banner h1 a:visited {
  color: black;
  display: block;
  font-weight: bold;
  text-decoration: none;
}

#banner nav {
  background: green;
  height: 40px;
  -moz-box-shadow: 0px 1px 5px #999999;
  -webkit-box-shadow: 0px 1px 5px #999999;
  box-shadow: 0px 1px 5px #999999;
  margin-bottom: 1em;
}

#banner nav ul {
  list-style:none;
}

#banner nav li {
  display: inline;
  display: inline-block;
  float: left;
  margin: 0px;
  padding: 0px;
}

#banner nav a {
  display: block;
  line-height: 40px;
  padding: 0px 30px; 
  text-decoration: none;
  font-weight: bold;
  font-size: 110%;
  color: white;
}

#banner nav a.active {
  color: black;
  background: #f7f7f7;
}

#banner nav a:hover {
  color: black;
  background: white;
}

#main-content {
  display: block;
  width: 100%;
  vertical-align: top;
}

#main-section {
  display: block;
  float: left;
  width: 70%;
  vertical-align: baseline;
}

#sidebar {
  display: block;
  float: right;
  width: 20%;
  vertical-align: baseline;
}